# overwrite or extend the hosted pinned_versions.cfg

[buildout]
extends =

[versions]
#
# --- versions we have chosen for a reason
iimas.distribution = 1.0.1
iimas.solicitudes = 1.0.0rc4
im.person = 1.0.12
imatem.academicinstitution = 1.0.0a1
imatem.academicprojects = 1.0.6
imatem.utils = 1.0.5
pycountry = 23.12.11
collective.z3cform.datagridfield = 3.0.4
collective.person = 1.0.0b4
collective.contact.behaviors = 1.0.0b5

# imas.solicitudes
odfpy = 1.4.1
defusedxml = 0.7.1