# overwrite or extend the hosted pinned_versions.cfg

[buildout]
extends =

[versions]
#
# --- versions we have chosen for a reason
im.person = 1.0.1
imatem.utils = 1.0.2
pycountry = 23.12.11
collective.z3cform.datagridfield = 3.0.3
collective.person = 1.0.0b4
collective.contact.behaviors = 1.0.0b5
